*{
    padding: 0;
    margin: 0;
}

:root{
    --colorPrimary :#1893ff;
    --blackPrimary:#0972ce;
    --colorSecundary:#1d1d1d;
    --red:#ff3535;
    --colorthree:#f6f6f6;
    /*Fuentes*/
    /*font-family: 'Roboto', sans-serif;*/
}

body{
    background-color:#e9ecef;
    font-family: 'Roboto', sans-serif;
}
/**BOTONES*/

/*TODO: BOTON AÑADIR */

.btn-a{
    background: var(--colorPrimary);
    color: var(--colorthree);
    padding: 20px 30px;
    border:none;
    border-radius: 3px;
}
.link-a{
    color:var(--colorthree);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
}
.link-a:hover{
    color:var(--colorSecundary);
    text-decoration: none;
}
/*POSICION BOTON AÑADIR*/
.btn-a-p{
    margin: 60px 0 20px 0;
}


/*TODO: BOTON REGISTRAR */
.btn-r{
   background: var(--colorPrimary);
    color: var(--colorthree);
    padding: 10px 25px;
    border:none;
    border-radius: 3px;
    margin:30px 0 0 0 ;
}
.btn-r:hover{
    background-color:var(--blackPrimary);
}

/*TODO: BOTON ATRAS */
.btn-at{
    background: var(--colorSecundary);
    color: var(--colorthree);
    padding: 10px 15px;
    border:none;
    border-radius: 3px;
}
.link-at{
    color:var(--colorthree);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.link-at:hover{
    color: var(--colorPrimary);
    text-decoration: none;
}


/**Listado - CARTA*/

.card-header{
    background-color: var(--colorPrimary);
}

.ht{
    color: var(--colorthree);
}